[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
strict = true

[tool.flake8]
max-line-length = 100
extend-ignore = ["E203", "W503"]
exclude = ".git,__pycache__,build,dist"
